.container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  padding: 10px;
  border-radius: 5px;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  color: white;
  border-color: #56CCF2;
}

.custom-icon {
  color: #009688;
}

.card-header{
  background-color: '#2383C4'; color: 'white';
}

.card-title{
  color: '#2383C4';
}

.btn-primary{
  background-color: '#56CCF2'; float: 'right';
}